/* ------------------------------------------------ */
/* FONTS                                            */
/* ------------------------------------------------ */

@font-face {
    font-family: 'agencyfb';
    src: url('/static/fonts/agencyfb-regular-webfont.eot');
    src: url('/static/fonts/agencyfb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/agencyfb-regular-webfont.woff') format('woff'),
         url('/static/fonts/agencyfb-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/agencyfb-regular-webfont.svg#agencyfbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'agencybold';
    src: url('/static/fonts/agencyfb-bold-webfont.eot');
    src: url('/static/fonts/agencyfb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/agencyfb-bold-webfont.woff') format('woff'),
         url('/static/fonts/agencyfb-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/agencyfb-bold-webfont.svg#agencyfbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ------------------------------------------------ */
/* GENERAL                                          */
/* ------------------------------------------------ */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, san-serif;
  font-size: 14px;
  height: 100%;
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #E9E9E9, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #E9E9E9, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  -webkit-font-smoothing: antialiased;
}

a, a:active, a:visited, a:hover, a:visited:hover {
  color: #4e6e92;
  text-decoration: underline;

  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

a:hover, a:visited:hover  {
  color: #4fc3e9;
}

h1, h2, h3, h4 {
  font-size: 64px;
  font-variant: small-caps;
  font-weight: 300;
  font-family: 'agencyfb', sans-serif;
  color: #444;

  clear: none;

  letter-spacing: 2px;
  text-decoration: none;

  /*color: #FFF;*/
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

h1 {
  color: #4e6e92;
}

h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h1 small {
  display: block;
  font-size: 24px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

hr {
  height: 1px;
  border: 0;
  background-color: #444;
}

input[type=text], input[type=number], input[type=date], .btn-primary, input[type=email], input[type=url]{
  font-family:  'Share Tech Mono', monospace;
  height: 55px;
  padding: 10px;
  font-size: 24px;

  -webkit-border-radius: 10px; 
  -moz-border-radius:    10px; 
  border-radius:         10px;

  outline: none;
  text-decoration: none;
}

select#draft_type {
  height: 50px;
  font-size:16px;
  font-family: 'Share Tech Mono', monospace;
}

option{
  font-family: 'Share Tech Mono', monospace;
  font-size:16px;
}

input[type="text"], input[type="email"], input[type="url"] {
  font-size: 18px;
  height: 50px;
  border: 1px solid #CCC;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.radio-list {
  margin: 0 auto;
  width: fit-content;
  text-align:left;
}



textarea {
  font-size: 16px;
  padding: 12px;
  outline: none;

  -webkit-border-radius: 7px; 
  -moz-border-radius:    7px; 
  border-radius:         7px;

  box-shadow: inset 0 0 5px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

/*** RADIO BUTTONS ***/
.map-label > .map-radio{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.map-label > .map-radio + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.map-label > .map-radio:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
  filter: brightness(150%);
}

.map-label > .map-radio:hover + img{ /* (RADIO HOVERED) IMAGE STYLES */
  filter: brightness(150%);
}

.banning .map-label > .map-radio:hover + img{
  cursor: not-allowed;
}
.picking .map-label > .map-radio:hover + img{
  cursor: crosshair
}

#chat_log{
  overflow-y: scroll;
  height: 150px;
}


#draft_bans li, #draft_picks li{
  width: fit-content;
  margin: 0 auto;
}


#lobby {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: #FFF;
  padding: 15px 40px 50px;
  margin-bottom:10px;
}

off{
  border-radius:         10px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
}

img{
  max-width: 100%;
  max-height: 100%;
}

#lobby input[type=text]{
  height: 60px;
  margin-right: 5px;
  color:black;

}


input[type=text]::placeholder{
  color:rgb(180, 180, 180);
}

input[type=text]#join_username {
  margin-right: 0px;
}

#create, #join_draft, #spectate_draft {
  margin-bottom: 15px;
}

#create input[type="text"], #spectate_draft input[type="text"] {
  /* width: 60%; */
}

.error{
  color:red; font-weight: bold; font-family:consolas;
}

.btn-primary {
  padding: 15px 0;
  border: 0;
  background-color: #A8DFF4;
  color: #4e6e92;
  font-size: 18px;
  height: 50px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-transform: uppercase;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #c8ecf8;
}


/*
  xs (for phones - screens less than 768px wide)
  sm (for tablets - screens equal to or greater than 768px wide)
  md (for small laptops - screens equal to or greater than 992px wide)
  lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/
@media (max-width: 991px) {
  #lobby .btn-spyparty{
    margin-top:10px;
  }

  #lobby select{
    margin-top:10px;
  }
  
}


.btn-spyparty{
  font-family: monospace;
  min-width: 225px;
  height: 60px;
  font-size:24px;
  line-height: 24px;
  color: #3e8afd;
  /* Permalink - use to edit and share this gradient: 
      http://colorzilla.com/gradient-editor/#082463+0,0e3da3+50,082463+100 
  */
  background: rgb(8,36,99); /* Old browsers #082463 */
  background: -moz-linear-gradient(left, rgba(8,36,99,1) 0%, rgba(14,61,163,1) 50%, rgba(8,36,99,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(8,36,99,1) 0%,rgba(14,61,163,1) 50%,rgba(8,36,99,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(8,36,99,1) 0%,rgba(14,61,163,1) 50%,rgba(8,36,99,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border:3px solid #3e8afd;
  cursor:pointer;
  filter: brightness(75%);
}

.btn-spyparty:hover{
  filter: brightness(100%);
}

.btn-spyparty:active{
  transform: translate(0px, 2px);
}

.btn-spyparty:hover:active{
  box-shadow: 0px 5px 50px 0px #3e8afd;
}


#join_draft input[type="text"] {
  /* width: 30%; */
}

#join_username {
  margin-right: 10px;
}

#room, #draft_state, #map_pool, #buttons, #infos p:first-of-type {
  margin-left: 25px;
  border-left: 2px solid #A8DFF4;
  padding-left: 25px;
}

#infos {
  padding-bottom: 50px;
}

/* ------------------------------------------------ */
/* MISCELLANEOUS                                    */
/* ------------------------------------------------ */

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.border {
  border: 1px solid #000;
}

.nomargin {
  margin: 0;
}

.notextshadow {
  text-shadow: none;
}

.notransition {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.nohighlight {
  user-select:none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.red {
  border: 1px solid red;
}

.clear {
  clear: both;
}

.border {
  border: 1px solid #000;
}

.light {
  color: #CCC;
}

.date {
  font-size: 12px;
  color: #888;
}

.padding_10 {
  padding: 10px;
}

.lightshadow {
  box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.relative {
  position: relative;
}

.small {
  font-size: 11px;
}

.opacity {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=90);

  /* Netscape */
  -moz-opacity: 0.9;

  /* Safari 1.x */
  -khtml-opacity: 0.9;

  /* Good browsers */
  opacity: 0.9;
}