<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpyParty Tournament Drafting</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            var username = "";
            var draft_id = "";

            socket.on('create_success', function(msg) {
                log_message(msg);
                console.log('got join success message');
                var room_id = msg['room_id'];
                $('#room_wrapper').css('display', 'none');
                //$('#create_button').attr('disabled', 'disabled');
                //$('#username').attr('disabled', 'disabled');
                $('#room').html('You are in room <b>' + room_id + '</b>.  Give this room code to your opponent.<br />');
            });

            socket.on('join_success', function(msg) {
                log_message(msg);
                console.log('joined room');
                var room_id = msg['room_id'];
                $('#room_wrapper').css('display', 'none');
                $('#join_error').html('');
                $('#room').html('You are in room <b>' + room_id + '</b><br />');
            });

            socket.on('room_broadcast', function(msg) {
                log_message(msg);
                console.log('handling room broadcast');
                var roomEl = $('#room');
                roomEl.append(msg['msg']);
                roomEl.append('<br />');
            });

            socket.on('draft_start', function(msg) {
                log_message(msg);

                console.log('handling draft start');

                draft_id = msg['room_id'];

                var coin_flip_el = $('#coin_flip');

                if (username === msg['player_one']) {
                    coin_flip_el.html("Waiting for coin flip...");
                }

                coin_flip_el.css("display", "inline");

                $('#map_pool').append($('<h3>Map Pool</h3>'));
                msg['map_pool'].forEach(function(value, key, list) {
                    //console.log(value['name'] + " -> " + value['slug']);
                    var mapElement = $('<div>' + value['name'] + '<br /></div>');
                    $('#map_pool').append(mapElement);
                });
            });


            socket.on('flip_winner', function(message) {
                log_message(message);

                if (username != message['winner']) {
                    $('#first_option_msg').html("You have lost the coin flip.  Waiting on opponent");
                } else {
                    $('#first_option').css("display", "inline");
                }

            });


            socket.on('winner_deferred', function(message) {
                log_message(message);
                var first_option_el = $('#first_option');

                $('#first_option_msg').css('display', 'inline');

                if (username != message['picker']) {
                    first_option_el.html("You have deferred your pick.  Waiting on opponent...");
                } else {
                    $('#first_option_header').html("Your opponent has deferred their pick.  Take your pick.");
                    $('#first_defer_radio').remove();
                }

                first_option_el.css('display', 'inline');

            });

            socket.on('select_spy_order', function(message) {
                log_message(message);

                var el = $('#second_option_spy_order');

                if (username == message['username']) {
                    $('#spy_order_message').html("<h3>" + message['message'] + "</h3>");
                } else {
                    el.html("Waiting on opponent to pick spy order...");
                }

                el.css('display', 'inline');
            });

            socket.on('select_pick_order', function(message) {
                log_message(message);

                var el = $('#second_option_pick_order');

                if (username == message['username']) {
                    $('#pick_order_message').html("<h3>" + message['message'] + "</h3>");
                } else {
                    el.html("Waiting on opponent to pick spy order...");
                }

                el.css('display', 'inline');
            });

            var redraw_picks_bans = function(message) {
                $('#draft_bans').html('');

                message['banned_maps'].forEach(function(value, key, list) {
                    var el = $('<li>' + value['picker'] + ' has banned ' + value['map'] + '</li>');
                    $('#draft_bans').append(el);
                });

                $('#draft_picks').html('');

                message['picked_maps'].forEach(function(value, key, list) {
                    var el = $('<li>' + value['picker'] + ' has picked ' + value['map'] + '</li>');
                    $('#draft_picks').append(el);
                });
            };

            socket.on('draft_info', function(message) {
                log_message(message);

                //hide stuff we don't care about any more
                $('#create_form_wrapper').css('display', 'none');
                $('#join_form_wrapper').css('display', 'none');
                $('#room_info').css('display', 'none');
                $('#coin_flip').css('display', 'none');
                $('#second_option_pick_order').css('display', 'none');
                $('#second_option_spy_order').css('display', 'none');
                $('#first_option_msg').css('display', 'none');

                $('#draft_info_current_player').html("Current player: " + message['current_player'] + "<br />");
                $('#draft_info_start_player').html("First pick: " + message['start_player'] + "<br />");
                $('#draft_info_first_spy').html("First spy: " + message['first_spy'] + "<br />");
                $('#draft_info_state').html("DRAFT STATE: " + message['state'] + "<br />");

                redraw_picks_bans(message);

                var userMessage;

                $('#draft_form_options').html('');

                if (message['current_player'] == username) {
                    message['map_pool'].forEach(function (value, key, list) {
                        //console.log(value['name'] + " -> " + value['slug']);
                        var radioButton = $('<input type="radio" name="map_choice" value="' + value['slug'] + '" id="map_choice_' + value['slug'] + '" /><label for="map_choice_' +  value['slug'] + '">' + value['name'] + '</label><br />');
                        $('#draft_form_options').append(radioButton);
                    });
                    userMessage = "<h2>" + message['user_readable_state'] + "</h2>";
                    $('#draft_form').css('display', 'inline');
                } else {
                    userMessage = "<h2> Waiting for " + message['user_readable_state'] + "</h2>";
                    $('#draft_form').css('display', 'none');
                }

                $('#draft_form_message').html(userMessage);

                $('#draft_info').css('display', 'inline');
            });

            socket.on('draft_over', function(message) {
                log_message(message);

                redraw_picks_bans(message);
                $('#draft_form').css('display', 'none');
                socket.emit('disconnect_request', {room_id: draft_id});
            });

            socket.on('join_error', function(message) {
                log_message(msg);

                $('#join_error').html(message['message']);
            });

            var log_message = function(msg) {
                $('#log').append('<br>Received #' + msg.count + ': ' + JSON.stringify(msg));
                console.log('Received: ' + msg);
            };

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                log_message(msg);

                console.log('Received #' + msg.count + ': " + msg.data');
                $('#log').append('<br>Received #' + msg.count + ': ' + JSON.stringify(msg));


            });

            // event handler for new connections
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            $('form#create').submit(function(event) {
                console.log('ok');
                username = $('#username').val();
                socket.emit('create', {data: username});
                return false;
            });
            $('form#join_draft').submit(function(event) {
                console.log('attempting to join room');
                username = $('#join_username').val();
                socket.emit('join_draft', {username: username, room_id: $('#join_room_id').val()});
                return false;
            });
            $('form#flip_form').submit(function(event) {
                console.log('flipping coin...');
                var f = $('input:radio[name=ht]').filter(":checked").val();
                var flip_data =
                    {username: username,
                    room_id: draft_id,
                    choice: f};
                console.log(flip_data);
                $("#coin_flip").css("display", "none");
                socket.emit('coin_flip', flip_data);
                return false;
            });

            $('form#first_option_form').submit(function(event) {
                console.log('putting choice up');
                var choice = $('input:radio[name=choice]').filter(":checked").val();
                var data = {
                    username: username,
                    room_id: draft_id,
                    choice: choice
                };
                socket.emit('first_option_form', data);
                $('#first_option').css('display', 'none');

                return false;
            });

            $('form#second_option_pick_form').submit(function(event) {
                var choice = $('input:radio[name=pick_choice]').filter(":checked").val();
                $('#second_option_pick_order').css('display', 'none');

                var data = {
                    username: username,
                    room_id: draft_id,
                    choice: choice
                };

                socket.emit('second_option_pick', data);

                return false;
            });

            $('form#second_option_spy_form').submit(function(event) {
                var choice = $('input:radio[name=spy_choice]').filter(":checked").val();
                $('#second_option_spy_order').css('display', 'none');

                var data = {
                    username: username,
                    room_id: draft_id,
                    choice: choice
                };

                socket.emit('second_option_spy', data);

                return false;
            });

            $('form#draft_form').submit(function(event) {
                var choice = $('input:radio[name=map_choice]').filter(":checked").val();
                console.log("got value " + choice);

                var data = {
                    username: username,
                    room_id: draft_id,
                    choice: choice
                };
                socket.emit('draft_map', data);
                return false;
            });
        });
    </script>
</head>
<body>
<a href="https://github.com/LtHummus/SpyPartyDraft"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div class="container">
    <h1>SpyParty Draft Tool <small>BETA version 0.0.2b</small></h1>
    <div id="room_wrapper">
        <h2>Join:</h2>
        <div id="create_form_wrapper">
            <form id="create" method="POST" action='#'>
                <input type="text" name="username" id="username" placeholder="Username" />
                <input type="submit" id="create_button" value="Create new Draft Room" />
                <div id="create_error"></div>
            </form>
        </div>
        <div id="join_form_wrapper">
            <form id="join_draft" method="POST" action='#'>
                <input type="text" name="username" id="join_username" placeholder="Username" />
                <input type="text" name="room_id" id="join_room_id" placeholder="Room ID" />
                <input type="submit" id="join_button" value="Join a Room" />
                <div id="join_error"></div>
            </form>
        </div>
    </div>

    <div id="draft_info" style="display: none;">
        <h1>Currently Drafting!</h1>
        <div id="draft_info_current_player"></div>
        <div id="draft_info_start_player"></div>
        <div id="draft_info_first_spy"></div>
        <div id="draft_info_state"></div>
        <ul>
            <h3>Bans</h3>
            <div id="draft_bans"></div>
        </ul>
        <ul>
            <h3>Picks</h3>
            <div id="draft_picks"></div>
        </ul>
        <form id="draft_form" method="POST" action="#" style="display: none;">
            <div id="draft_form_message"></div>
            <div id="draft_form_options"></div>
            <input type="submit" value="Submit" />
        </form>

    </div>

    <div id="room_info">
        <h2>Room Info:</h2>
        <div id="room">Not in a room</div>
        <div id="drafting">
            <div id="coin_flip" style="display: none">
                <form id="flip_form" method="POST" action="#">
                    <input type="radio" name="ht" value="heads" id="heads" /><label for="heads">Heads</label><br />
                    <input type="radio" name="ht" value="tails" id="tails" /><label for="tails">Tails</label><br />
                    <input type="submit" name="flip_button" value="Flip" />
                </form>
            </div>
            <div id="first_option_msg"></div>
            <div id="first_option" style="display: none">
                <h3 id="first_option_header">You've won the coin flip!</h3>
                    <form id="first_option_form" method="POST" action="#">
                        <input type="radio" name="choice" value="pickfirst" id="first_pickfirst" /><label class="control-label" for="first_pickfirst">Pick First</label><br />
                        <input type="radio" name="choice" value="picksecond"id="first_picksecond"  /><label class="control-label" for="first_picksecond">Pick Second</label><br />
                        <input type="radio" name="choice" value="spyfirst" id="first_spyfirst" /><label class="control-label" for="first_spyfirst">Spy First</label><br />
                        <input type="radio" name="choice" value="spysecond" id="first_spysecond" /><label class="control-label" for="first_spysecond">Spy Second</label><br />
                        <div id="first_defer_radio"><input type="radio" name="choice" value="defer" id="first_defer" /><label class="control-label" for="first_defer">Defer Option to Other Player</label></div><br />
                        <input type="submit" name="first_option_form" value="This is my choice" /><br />
                    </form>
            </div>
            <div id="second_option_pick_order" style="display: none">
                <div id="pick_order_message"></div>
                <form id="second_option_pick_form" method="POST" action="#">
                    <input type="radio" name="pick_choice" value="pickfirst" id="second_pickfirst" /><label for="second_pickfirst">Pick First</label><br />
                    <input type="radio" name="pick_choice" value="picksecond" id="second_picksecond" /><label for="second_picksecond">Pick Second</label><br />
                    <input type="submit" name="second_option_pick_form_button" value="This is my choice" /><br />
                </form>
            </div>
            <div id="second_option_spy_order" style="display: none">
                <div id="spy_order_message"></div>
                <form id="second_option_spy_form" method="POST" action="#">
                    <input type="radio" name="spy_choice" value="spyfirst" id="second_spyfirst" /><label for="second_spyfirst">Spy First</label><br />
                    <input type="radio" name="spy_choice" value="spysecond" id="second_spysecond" /><label for="second_spysecond">Spy Second</label><br />
                    <input type="submit" name="second_option_pick_form_button" value="This is my choice" /><br />
                </form>
            </div>
            <h2>Drafting</h2>
            <div id="draft_state"></div>
            <div id="map_pool">

            </div>
            <div id="buttons">

            </div>
        </div>
    </div>
    <div id="debugging" style="display: none;">
        <h2>Receive:</h2>
        <div id="log"></div>
    </div>
    <div id="infos">
        <p>If you're having issues, try refreshing/restarting the draft.  I have a lot of things on the todo list but
            it's mostly functional for now.  You can also hit me up on Twitter
            <a href="https://twitter.com/LtHummus">@LtHummus</a> or fix it yourself on
            <a href="https://github.com/LtHummus/SpyPartyDraft">GitHub</a>.  You'll definitely need a modern browser
            to make this work (it has to support web sockets).</p>
    </div>
</div>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>